@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este documento de Política de Privacidade tem como intuito orientar o titular, ou seja, o visitante do nosso site, sobre os dados que serão coletados no momento em que ele aceitar nossas Políticas de Privacidade.</p></br>
<p>A aceitação desta Política será feita quando você acessar os nossos produtos e concordar, de forma afirmativa, com o uso dos seus Dados Pessoais para cada uma das finalidades que descreveremos abaixo. Caso não concorde com esta Política, aconselhamos a nos informar através dos nossos canais de contato, para que eliminemos seus dados de nosso banco.</p></br>
<h3>Lei Geral de Proteção de Dados - LGPD</h3>
<p>
    Criada em 2018, e em vigor desde agosto de 2020, a Lei Geral de Proteção de Dados (LGPD), tem como finalidade proteger todo e qualquer dado disponibilizado por um titular para alguma empresa. Sejam eles de forma online ou offline. A Lei foi criada para proteger o titular sobre suas informações e também para que não receba conteúdos pelos quais não autorizou o uso de seus dados.

    Tendo a LGPD como base, nossa empresa visa a proteção de toda e qualquer informação fornecida em nossos canais de comunicação. Sendo assim, seus dados não são repassados ou vendidos. E, caso você não queira mais receber nenhuma notificação por parte da nossa empresa, automaticamente excluiremos seus dados de nosso banco.
</p></br>
<h3>A LGPD prevê o cumprimento das informações descritas abaixo:</h3>
<p>1) Consentimento: Em base legal, demonstra que o titular concorda, de forma inequívoca, com o tratamento de seus dados pessoais a fim de receber informações acerca de nossa empresa, bem como atualizações de blog, e-mail marketing, promoções, ligações.</p>
<p>2) Legítimo Interesse: A base legal do legítimo interesse é uma das mais flexíveis, permitindo, assim, o uso das informações sem precisar de um consentimento do titular. Entretanto, avaliaremos se precisaremos de seus dados para a devida finalidade.</p>
<p>3) Execução de Políticas Públicas: Neste ponto, apenas órgãos públicos podem utilizá-lo, não estando previsto em lei a autorização para empresas privadas.</p>
<p>4) Execução de Contratos: Neste caso, os dados podem ser utilizados em duas ocasiões. Primeira: para validar algum contrato. Segunda: Para que alguma ação, prevista em contrato, seja cumprida por ambas as partes.</p>
<p>5)  Estudos e Pesquisas: Essa base tem como objetivo garantir a anonimização dos dados pessoais através de ferramentas de criptografia ou outros mecanismos.</p>
<p>6) Proteção de Crédito: A base legal de proteção de crédito tem como finalidade evitar riscos de transação, permitindo que as empresas e lojas consultem o perfil do titular como pagador.</p>
<p>7) Proteção à Vida: Neste caso, os dados podem ser divulgados somente em situações em que o titular esteja correndo algum risco de vida, como em acidentes de carro, em que seus dados podem ser consultados para informar amigos e familiares sobre seu estado.</p>
<p>8) Tutela de Saúde: Este caso só pode ser utilizado em casos que envolvam profissionais da área de saúde. Sendo excluídos dessa lista entidades como farmácias e tomadoras de planos de saúde.</p>
<p>9) Processo Judicial: Em casos que envolvam ações judiciais, os dados do titular podem receber algum tipo de tratamento.</p>
<p>
    10) Obrigação Legal: Neste ponto, os dados podem receber algum tipo de tratamento quando existirem outras leis que prevejam o mesmo. São exemplos empresas que precisam dos dados para cumprir alguma outra ação da lei.
</p></br>
<h3>Uso de Dados Pessoais</h3>
<p>Ao aceitar nossa Política de Privacidade, você está concordando que podemos fazer uso de seus Dados fornecidos conforme as finalidades abaixo:</p>
<ul>
    <li>Marketing e Campanhas: Trabalhamos com empresas de Marketing, além de sistemas de dados, ferramentas de mailing e envios de notificações, a fim de manter uma relação entre você e a Postaltec.</li>
    <li>Análises de Resultados: Além de Dados fornecidos por meio de empresas como Google Analytics, utilizamos os seus dados para saber de onde você vem (se foi por meio de outro link), qual tipo de ferramenta você utilizou (celular, tablet, computador, etc).</li>
    <li>Os seus dados ficarão armazenados em nossos bancos de dados até o cumprimento da finalidade específica. E também a fim de cumprir os requisitos legais previstos pela LGPD. Porém, você pode solicitar a exclusão de suas informações a qualquer momento.</li>
</ul></br>
<h3>Uso de Cookies</h3>
<p>Nosso site também utiliza cookies, ou seja, pequenos arquivos para coletar seus dados a fim de em uma próxima visita sua a nossa plataforma já conseguimos lhe encontrar e proporcionar uma melhor experiência.</p>
<p>Os Cookies podem ser das seguintes maneiras:</p>
<p>
    Cookies de Sessão: São cookies temporários, que podem auxiliar em uma determinada ação sua em algum site no preenchimento de informações. Um bom exemplo é quando está comprando em uma loja virtual, o carrinho ficar guardando todas as informações.

    Cookies Primários: Esses cookies primários, podem ser relacionados como uma memória a longo prazo do site. Eles te auxiliam em uma nova visita no preenchimento de formulários. Eles também podem auxiliar na autenticação de um usuário, não sendo necessário novo login em outra visita.
</p>
<p>Cookies de Terceiros: São cookies de terceiros aqueles que não vem do site em que você está visitando naquele momento, ou seja, vem de outros domínios. O foco principal dele é rastrear o usuário em suas pesquisas na Internet, seu comportamento na web entre outras informações.</p>
<p>
    Cookies Seguros: Os cookies seguros são aqueles que funcionam somente por meio de criptografias, ou seja, funcionam apenas em URLs com HTTPS e, também, aparece um cadeado ao lado dela.

    Cookies apenas HTTP: São cookies que auxiliam na proteção do site para que ele não seja invadido e atacado por hackers. Um cookie seguro não pode ser acessado por linguagens script.
</p>
