
@{
    ViewData["Title"] = "Sobre a Empresa";
}

<h1>Sobre</h1>
<p>DRM Veículos, uma loja localizada na cidade de Cachoeirinha - RS, focada na venda de carros seminovos, carros zero km e carros usados para o Brasil todo, com a maior procedência do mercado.
Nossa loja possui uma grande variedade de parceiros, possibilitando as melhores condições disponíveis no mercado para nossos clientes, também aceitamos veículo na troca!</p>

