
@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre</h1>
<p>Uma plataforma web em .NET ficitícia para treinamento em ASP.NET, com integração de bootstrap. Criado por um desenvolvedor .NET jr. em janeiro de 2022.</p>

